<form action="#">
    <h1>Recuperar Contraseña</h1>
    <input name="registro" [(ngModel)]="colaborador.cedula" type="text" required="required" placeholder="Cedula"/>
    <input name="registro" [(ngModel)]="colaborador.email" required="required" type="email" placeholder="Email" />
    <!-- <input name="registro" [(ngModel)]="colaborador.contrasenia" required="required" type="password" placeholder="Contraseña" /> -->
    <button (click)="verificarCuenta()">Verficar Cuenta</button>
    <label *ngIf="cuenta" style="margin-top: 1rem; font-size: 1.5rem;" for="">Ingrese nueva Contraseña</label>
    <input *ngIf="cuenta" name="nContra" [(ngModel)]="nContrasenia" required="required" type="password" placeholder="Nueva Contraseña" />
    
    <button *ngIf="cuenta" (click)="recuperar()">Registrar</button>
</form>