<div class="main">
    <app-menu-pags></app-menu-pags>

    <div class="form_registro-paciente">
        <form>
            <h2>Registrar Paciente</h2>
            <div class="div-label">
                <label for="">Cedula:</label>
            </div>
            <input name="cedula" [(ngModel)]="colaborador.cedula" type="text" required="required" placeholder="Cedula"/>
            <div class="div-label">
                <label for="">Nombres:</label>
            </div>
			<input name="nombres" [(ngModel)]="colaborador.nombres" required="required" type="text" placeholder="Nombres" />
            <div class="div-label">
                <label for="">Apellidos:</label>
            </div>
			<input name="apellidos" [(ngModel)]="colaborador.apellidos" required="required" type="text" placeholder="Apellidos" />
            <div class="div-label">
                <label for="">Telefono:</label>
            </div>
			<input name="telefono" [(ngModel)]="colaborador.telefono" required="required" type="text" placeholder="Telefono" />
            <div class="div-label">
                <label for="">Celular:</label>
            </div>
			<input name="celular" [(ngModel)]="colaborador.celular" required="required" type="text" placeholder="Celular" />
            <div class="div-label">
                <label for="">Dirección:</label>
            </div>
			<input name="direccion" [(ngModel)]="colaborador.direccion" required="required" type="text" placeholder="Direccion" />			
            <div class="div-label">
                <label for="">Email:</label>
            </div>
			<input name="email" [(ngModel)]="colaborador.email" required="required" type="email" placeholder="Email" />
            <div class="div-label">
                <label for="">Fecha de Nacimiento:</label>
            </div>
			<input name="fechaNac" [(ngModel)]="colaborador.fechaNacimiento" required="required" type="date" placeholder="dd-mm-yyyy" />
            <div>
                <button id="actualziarBtn" (click)="pacienteRegs()">Registrar Paciente</button>
            </div>
        </form>
    </div>    
</div>