<app-menu-pags></app-menu-pags>
<div class="main">
    <h1>Historial de Comprobantes</h1>
    <div class="form">
        <table>
            <thead>
                <th></th>
                <th>ID</th>
                <th>Cédula Paciente</th>
                <th>Nombre y Apellidos</th>
                <th>Fecha</th>
                <th>Observación</th>
                <th>SubTotal</th>
                <th>Total</th>
                <th>Estado</th>
                <th>Detalles</th>
            </thead>
            <tbody>
                <tr *ngFor="let comprobantes of lista_comprobantes">
                    <td class="acciones">
                        <svg (click)="eliminarComprobante(comprobantes.id)" width="16" height="16" fill="currentColor" class="bi-trash-fill" viewBox="0 0 16 16">
                            <path
                                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                        </svg>
                        <!-- <svg (click)="editarComprobante(comprobantes.id)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="fa bi-pen-fill" viewBox="0 0 16 16">
                            <path
                                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                        </svg> -->
                        <svg (click)="comprobante = comprobantes; addTrasac = true" cxmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-check2-square" viewBox="0 0 16 16">
                        <path
                            d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                        <path
                            d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                    </svg>

                    </td>
                    <td style="width: fit-content;">{{comprobantes.numero}}</td>
                    <td style="width: fit-content;">{{comprobantes.paciente.cedula}}</td>
                    <td style="width: fit-content;">{{comprobantes.paciente.nombres}} {{comprobantes.paciente.apellidos}}</td>
                    <td style="width: fit-content;">{{comprobantes.fecha}}</td>
                    <td style="width: fit-content;">{{comprobantes.observacion}}</td>
                    <td style="width: fit-content;">{{comprobantes.subTotal}}</td>
                    <td style="width: fit-content;">{{comprobantes.total}}</td>
                    <td style="width: fit-content;">{{comprobantes.estado}}</td>
                    <table style="width: 90%;">
                        <thead>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Total</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let detalle of comprobantes.detalles">
                                <td style="width: fit-content;">{{detalle.cantidad}}</td>
                                <td style="width: fit-content;">{{detalle.precioUnitario}}</td>
                                <td style="width: fit-content;">{{detalle.total}}</td>
                            </tr>
                        </tbody>
                    </table>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="addTrasac">
        <h1>Transacciones</h1>
        <form>

            <div class="div-label" style="text-align: center;">
                <h2 for="asunto">Identificador de comprobante</h2>
                <h4>{{comprobante.id}}</h4>
            </div>
            <div class="div-label">
                <label for="asunto">Asunto</label>
            </div>
            <input name="asunto" [(ngModel)]="transaccion.asunto" type="text" placeholder="Asunyo">
            <div class="div-label">
                <label for="tipo">Tipo</label>
            </div>
            <input name="tipo" [(ngModel)]="transaccion.tipo" type="text" placeholder="Tipo">
            <div class="div-label">
                <label for="monto">Monto</label>
            </div>
            <input name="monto" [(ngModel)]="transaccion.monto" type="number" placeholder="Monto">
            <div class="div-button">
                <button (click)="transaccionCreate()">Realizar Transacción</button>
                <!-- <button *ngIf="editarDetalle" (click)="editarC()">Editar Comprobante</button> -->
                <button style="background-color: #bf2a0c; border: 1px solid #bf2a0c" (click)="addTrasac = false">Cancelar</button>
            </div>
        </form>
    </div>
</div>